*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

h2,
h3,
h4,
p {
  margin-bottom: 1em;
}

section {
  padding: 3rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

.split_links {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.form-section form select, .form-section form input {
  margin-top: 1em;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 1.5rem;
  }

  .laptop_view {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 40.06em) and (max-width: 63.93em) {
  .links .split_links .anchor_text1,
.links .split_links .anchor_text2,
.links .split_links .anchor_text3 {
    flex-basis: 24% !important;
  }
  .links .split_links .anchor_text4,
.links .split_links .anchor_text5 {
    flex-basis: 35% !important;
    margin-top: 1.5em;
  }

  .laptop_view .form-label {
    flex-basis: 100%;
  }
  .laptop_view .tablet_view {
    flex-basis: 50%;
  }
  .laptop_view .btn_search--laptop {
    flex-basis: 22%;
  }
  .laptop_view .form-options {
    width: 100%;
  }
  .laptop_view .btn_search--tablet {
    width: 25%;
  }
}
@media (min-width: 64em) {
  .container--wider {
    width: min(95%, 80.5rem);
  }

  .links .split_links .anchor_text1,
.links .split_links .anchor_text2,
.links .split_links .anchor_text3 {
    flex-basis: 17% !important;
  }
  .links .split_links .anchor_text4,
.links .split_links .anchor_text5 {
    flex-basis: 24% !important;
    margin-top: 0 !important;
  }

  .form-section label {
    font-size: 20px;
  }
  .form-section form select, .form-section form input {
    margin-top: 0;
  }

  .laptop_view .form-label {
    flex-basis: 29%;
    text-align: left !important;
  }
  .laptop_view .form-label .subText {
    text-align: left;
  }
  .laptop_view .tablet_view {
    flex-basis: 40%;
  }
  .laptop_view .btn_search--laptop {
    flex-basis: 20%;
  }
  .laptop_view .btn_search--tablet {
    display: none;
  }
}
svg {
  padding: auto;
  max-width: 100%;
  margin-top: 1em;
}

.container--narrow {
  max-width: 35rem;
}

.text-center {
  text-align: center;
}

label {
  font-size: 22px;
  font-weight: 700;
}

span {
  font-size: 13px;
  font-weight: 400;
}

body {
  font-family: Cabin, sans-serif;
}
body header .header_text {
  margin-top: 1em;
}
body header h3 {
  font-weight: 400;
  font-size: 18px;
}
body .links {
  padding-top: 0;
}
body .links a {
  font-weight: 600;
  font-size: 18px;
  color: black;
}
body .links .split_links .anchor_text1,
body .links .split_links .anchor_text2,
body .links .split_links .anchor_text3 {
  flex-basis: 24%;
}
body .links .split_links .anchor_text4,
body .links .split_links .anchor_text5 {
  flex-basis: 32%;
  margin-top: 1.5em;
}
body hr {
  border: 1px solid #0A162B;
}
body .form-section form select, body .form-section form input {
  width: 100%;
  height: 3.4rem;
  font-size: 18px;
  line-height: 1;
}
body .form-section select {
  border: 2px solid #D0D0D0;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: cabin, sans-serif;
  font-weight: 400;
  padding-left: 1em;
}
body .form-section input[type=submit] {
  border: 0;
  box-shadow: none;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #FFC327;
  background-blend-mode: overlay, normal;
  border-radius: 30px;
  font-weight: 700;
}
body .card-section {
  background-color: #F3FBFF;
  font-size: 18px;
}
body .card-section .card-section-title h2 {
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
}
body .card-section .card {
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 1.5em;
}
body .card-section .card h4 {
  font-size: 18px;
}
body .card-section .card p {
  line-height: 1.6;
}

/*# sourceMappingURL=style.css.map */
